@charset "UTF-8";

/*********************************
全体共通
*********************************/

.all-wrap{
  width: 100%;
  font-size: 1.3rem;
}

li{
  list-style: none;
}

a{
  text-decoration : none;
  color: #3B4B21;
  font-weight: bold;
}

/*------------------------------
一部共通 top-sliders,
--------------------------------*/
.container{
  margin: 70px 50px;
}

/*------------------------------
一部共通 news,
--------------------------------*/

.container-centre{
  width: 60%;
  margin: 70px auto;
}

/*********************************
header
*********************************/

.header{
  background-color: #E8FFB6;

  width: 100%;
  height: 250px;
}

.nav-lists{
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  font-size: 1.5rem;
}

.nav{
  height: 30px;
  padding-top: 200px;
}

.nav a{
  padding: 30px;
}

.nav a:hover{
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
}

.li-logo{
  padding-top: 40px;
}

.logo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

/*********************************
top-sliders
*********************************/

.sliders{

  width: 90%;
  margin: 0 auto;
}

.slider-img{
  width: 850px;
  height: 500px;
  margin: auto;
  object-fit: cover;
  border-radius: 90px;
}

/*********************************
news
*********************************/

.news-title{
  text-align: center;
  letter-spacing: 9px;
  font-size: 24px;
  font-weight: bold;
  color: #3B4B21;
}

.news{
  position: relative;
  width: 60%;
  margin: 30px auto;
}

.news-flex{
  display: flex;
  font-size: 19px;
  margin-bottom: 20px;
  color: #3B4B21;
}

.news-date{
  margin-right: 30px;
  font-weight: bold;
}

.news-text{
  font-weight: normal;
}

.more{
  position: absolute;
  right: 340px;
  bottom: -345px;
  z-index: 1;
  color: #3B4B21;
  font-weight: bold;
}

.more-img{
  position: absolute;
  right: 280px;
  bottom: -380px;
  z-index: 0;
  width: 200px;
  height: 100px;
}

/*********************************
policy
*********************************/

.policy-container{
  background-color: #E8FFB6;
  margin: 170px auto 70px;
}

.title{
  background-color: #5ABB68;
  text-align: center;
  padding: 40px;
  letter-spacing: 10px;
  font-size: 24px;
  color: #FFF;
  font-weight: bold;
}

.policy{
  position: relative;
  margin: 30px auto 0;
  width: 70%;
}

.policy-flex{
  display: flex;
  justify-content: space-around;
}

.policy-img,
.policy-img2{
  width: 250px;
  height: 250px;
}

.policy-img2{
  position: absolute;
  top:  250px;
  left: 370px;
}

.policy-flex2{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.policy-img3{
  width: 290px;
  height: 290px;
}

.policy-img4{
  width: 170px;
  height: 170px;
}

.policy-text{
  margin: 50px 0;
  text-align: center;
  letter-spacing: 6px;
  font-size: 24px;
  color: #3B4B21;
  font-weight: bold;
}
